{% extends 'base.html' %}


{% block titleHead %}
Derradji
{% endblock titleHead %}


{% block titleBody %}
Derradji Protofolio &#128507;
{% endblock titleBody %}


{% block paragraphBackend %}
This My First Project '-' </br>
am not a backend Developer yet  '-' </br>
but i will work on my skills te Become so        
{% endblock paragraphBackend %}


{% block paragraphExperience %}
i have no experience yet -] </br>
i Still Learn ...       
{% endblock paragraphExperience %}


{% block paragraphWhatIKnow %}
Python >> Meduim Level </br>
Html, Css, JavaScript, Bootstrap >> Basic Knowledge </br>
C++, Matlab, Pascal, Dart-Flutter >> Basic Knowledge </br>
Shell Script >> Basic Knowledge </br>
Problem Solving
{% endblock paragraphWhatIKnow %}


{% block paragraphWhatDoYouLearn %}  
Django, Flask </br>
Network Engineering, Network Automation</br>
Cloud , Virtualization </br>
{% endblock paragraphWhatDoYouLearn %}


{% block paragraphOFgoals %}
i want to be a BackEnd Developer , Network Engineer </br>
i want to Learn More on Quantum Computing </br>
{% endblock paragraphOFgoals %}